				.dropdown{
					position: relative;
					display: inline-block;
					text-align: left;
								
				}

				option.select-hr { 
					border-bottom: 2px solid #cccccc; 
					margin-left: 20px;
					margin-right: 20px;
				}


				.dropdown-content{

					border-radius: 5px 5px 5px 5px;
					width: 300px;
					display: none;
					position: absolute;
					background-color: white;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					height: 350px;
					z-index: 1;
				}

				

				.dropdown:hover .dropdown-content{
					display: block;
				}

				

				.dropdown-content .column{
					display: table-row;
					z-index: 1
				}

				

				.dropdown-content .column1{
					display: table-cell;
					padding-left: 20px;

				}

				
				.dropdown-content .column2{
					display: table-cell;
			
				}


				.dropdown-content .column1 p{
					padding: 10px;
					font-weight: normal;
				
				}
				.dropdown-content .column2 p{
					padding: 9px;
					font-weight: normal;
				}

				.dropdownimg{
					position: realtive;
					display: inline-block;
					text-align: left;					
				}

				.dropdown-img{

					border-radius: 5px 5px 5px 5px;
					width: 350px;
					display: none;
					position: absolute;
					background-color: white;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					height: 470px;
				}

				.dropdownimg:hover .dropdown-img{
					display: block;
				}
				.dropdown-content .columnimg{
					display: table-row;
				}
