*{
	margin:0;
	padding: 0;
}

.header{
	position: fixed;
}
.table1{
	width: 100%;
	
}

.table1 .search1 input{
	border-radius: 5px 5px 5px 5px;
}

.table1 a{
	text-decoration: none;
}

.table2{
	padding-left: 50px;
	padding-right: 30px;
	max-width:100%;
	margin:auto;
}


.fa fa-cart-arrow-down{
	color: #fff;
}

.se{
	padding-left: 20px;
}

.se input{
	height: 50px;
	width: 500px;
}

.butt button{
	border: 0;
	width: 49px;
	height: 49px;
	font-size: 20px;
	background: rgba(249, 100, 50, 1);
}

.footer{
	margin-top: 20px;
}